* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #6813f0;
    color: #ffffff;
}

.hero {

    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("img/articles-437649_foto_marquesina.jpg");
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay h1 {
    color: rgb(30, 255, 0);
    font-size: 80px;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.overlay p {
    color: rgb(30, 255, 0);
    font-size: 28px;
}


.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 60px auto;
}

.info {

    display: flex;
    gap: 40px;
    align-items: center;
    background: rgb(21, 255, 0);
    color: #000000;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgb(255, 255, 255);
}

.texto {
    width: 55%;
    color: #000000;
}

.texto h2 {
    font-size: 42px;
    color: rgb(119, 0, 255);
    margin-bottom: 25px;
}

.texto p {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
    text-align: justify;
}

.imagen-principal {
    width: 45%;
}

.imagen-principal img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgb(0, 255, 13);
}



.datos {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.dato {
    background: linear-gradient(135deg, rgb(60, 255, 0), #6f00ff);
    color: #111827;
    padding: 20px;
    width: 100%;
    text-align: center;
    border-radius: 15px;
    border-top: 5px solid rgb(140, 0, 255);
    box-shadow: 0px 5px 15px rgb(0, 0, 0);
    transition: transform 0.5s;
}

.dato:hover {
    transform: translateY(-10px);
}

.dato h3 {
    color: rgb(153, 0, 255);
    margin-bottom: 10px;
}



.galeria {
    margin-top: 80px;
}

.galeria h2 {
    text-align: center;
    color: rgb(60, 255, 0);
    font-size: 42px;
    margin-bottom: 40px;
}

.imagenes {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background: rgb(9, 255, 0);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.5s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover {
    transform: scale(1.03);
}

.card img {

    width: 350px;
    height: 280px;
    object-fit: contain;
    background: white;
    border-radius: 15px;
}

.vertical {

    width: 220px !important;
    height: 420px !important;
    object-fit: contain !important;
    background: white;
}


.robot {

    margin-top: 80px;
    background: rgb(21, 255, 0);
    color: #000000;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgb(255, 255, 255);
    display: flex;
    gap: 40px;
    align-items: center;
}

.robot-imagen {
    width: 40%;
}

.robot-imagen img {
    width: 100%;
    border-radius: 20px;
}

.robot-info {
    width: 60%;
}

.robot-info h2 {
    color: rgb(119, 0, 255);
    font-size: 40px;
    margin-bottom: 20px;
}

.robot-info p {
    font-size: 19px;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: justify;
}



.caracteristicas {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.caja {
    background: linear-gradient(135deg, rgb(60, 255, 0), #6f00ff);
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.5s;
    border-top: 5px solid rgb(140, 0, 255);
    box-shadow: 0px 5px 15px rgb(0, 0, 0);
}

.caja:hover {
    transform: scale(1.05);
}

.caja h3 {
    color: #6f00ff;
    margin-bottom: 10px;
}

.videos {
    margin-top: 80px;
}

.videos h2 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 40px;
    color: rgb(60, 255, 0);
}

.contenedor-videos {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.contenedor-videos video {

    width: 500px;
    border-radius: 20px;
    background: rgb(0, 255, 21);
    padding: 10px;
    box-shadow: 0px 5px 15px rgb(0, 0, 0);
}



.conclusion {
    background: rgb(0, 255, 13);
    padding: 40px;
    margin-top: 80px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 5px 15px rgb(255, 255, 255);
}

.conclusion h2 {
    color: rgb(132, 0, 255);
    font-size: 40px;
    margin-bottom: 20px;
}

.conclusion p {
    color: #000000;
    font-size: 20px;
    line-height: 30px;
}



footer {
    background: linear-gradient(to right, #111827, #000000);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 35px;
}